---
---


$primary: #cc0000;
$size: 20px;


@mixin border ($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}



p.redparagraph {
	@include border(10px);
	background-color: blue;
	padding: 50px;
	color: $primary;

}

.bigparagraph {
	font-size: $size + 12;
	}
	

a {
	
	color: $primary;
	font-weight: bold;
}


body {
	background-color: #FCDED6;
}

h1 {
	font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 55px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: 39.6px;
	text-align: center;
}

h3 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 15.4px;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 10px;

}


hr {height:2px; 
	width: 14px; 
	border: 2px; 
	color: black; 
	background-color:black; 
	width:10%; 
	text-align:left; 
	margin: 10 auto 0 0;}




#rectangle{
    width:1100px;
    height:2000px;
    background:white;
    margin: 0 auto;
    position: relative;

}



.fish {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    position: absolute;
    cursor: pointer;
}

.fish:hover {
	opacity: .7;
}
	
#HAD {
	top: 40px;
	left: 50px;
}

#POK {
	top: 100px;
	left: 420px;
}

#HER {
	top: 40px;
	left: 750px;
}

#COD {
	top: 250px;
	left: 5px;
}


#MAC {
	top: 280px;
	left: 300px;
}


#LIN {
	top: 280px;
	left: 650px;
}

#WHB {
	top: 470px;
	left: 70px;
}

#RED {
	top: 540px;
	left: 420px;
}

#SKA {
	top: 420px;
	left: 750px;
}

#FIN {
	top: 720px;
	left: 330px;
}

#HKE {
	top: 650px;
	left: 10px;
}

#TUR {
	top: 670px;
	left: 670px;
}


#PLE {
	top: 850px;
	left: 30px;
}

#WHG {
	top: 890px;
	left: 360px;
}

#HOM {
	top: 860px;
	left: 720px;
}

#POL {
	top: 1040px;
	left: 20px;
}

#HAL {
	top: 1080px;
	left: 400px;
}

#USK {
	top: 1220px;
	left: 40px;
}


#GHL {
	top: 1100px;
	left: 750px;
}

#BLI {
	top: 1400px;
	left: 750px;
}


#MON {
	top: 1300px;
	left: 450px;
}

#LEM {
	top: 1450px;
	left: 200px;
}







.line {
	background-color: black;
	height: 2px;
	width: 30px;

}

#container * {
	display: inline-block;


}

#container {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
}


.modalDialog {
	position: fixed;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}


.modalDialog.open {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 600px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: white;
	// background: -moz-linear-gradient(#fff, #999);
	// background: -webkit-linear-gradient(#fff, #999);
	// background: -o-linear-gradient(#fff, #999);
}


.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #FCDED6; }


.yearlabel {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}


.year_slider {
	position: absolute;
	width: 400px;
}

#inputYear {
	width: 600px;
	text-align: center;
	
}

#outputYear {
	text-align: center;
}

input[type=range],
	::-moz-range-track,
	 ::-ms-track {
	 -webkit-appearance: none;
	 background-color: 3f91e5;
	 width: 400px;
	 height:20px;
}


::-webkit-slider-thumb,
	::-moz-range-thumb,
	 ::-ms-thumb {
	-webkit-appearance: none;
	background-color: #666;
	width: 10px;
	height: 20px;
}